<mat-sidenav-container>

    <mat-sidenav-content>
        <app-navtabs-out></app-navtabs-out>

        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<br>
<br>
<!-- Mobile -->
<div fxShow="true" fxHide.gt-xs="true">
    <br>
    <br>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col-9">
                <div class="card shadow">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <h4 class="text-dark text-muted"> {{"fPass" | translate}}</h4>
                            </div>
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label"> {{"email" | translate}}</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="email">
                            </div>
                            <button type="button" class="btn btn-info" (click)="forgotPassword()">{{"send" | translate}}</button>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/login" style="text-decoration: none;">{{"back" | translate}} <span
                                            class="text-danger">{{"logIn" | translate}}</span></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
<div fxShow="true" fxHide.lt-sm="true">
    <!-- -------------------- Desktop ---------------------------- -->

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <h4 class="text-dark text-muted">Forgot password</h4>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="email">
                            </div>
                            <button type="button" class="btn btn-info" (click)="forgotPassword()">Send Link</button>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/login" style="text-decoration: none;">Back to <span
                                            class="text-danger">Login</span></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>