<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (SideNavigationToggle)="sidenav.toggle()"></app-header>
    <app-navtabs></app-navtabs>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="noReservations()" >
<mat-card fxShow="true"
fxHide.lt-sm="true"
class="centered-1">

<div class="texting">
  <h1>{{ "no-reservations" | translate }}</h1>
</div>

</mat-card>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
</div>

<div *ngIf="!noReservations()">
<div fxLayout="column" [ngClass.gt-xs]="'margins-settings'" >
  <mat-card
    *ngFor="let item of ownedRooms"
    class="organization"
    [ngClass]="!checkIfAvailable(item.reservationDay) ? 'super-opacity' : ''"
  >
    <mat-card-title-group>
      <mat-card-title>
        <div style="display: flex">

          <div class="img" >
            <mat-card>
            <img mat-card-image [src]="item.urlImage1" />
          </mat-card>
          </div>

          <div
            class="paragraphs-settings"
            [ngClass.lt-sm]="'paragraphs-mobile-settings'"
          >
            <p class="title-settings">
              {{ item.title }}
            </p>
            <p class="reservationDay-settings">
              {{ "reservedDay" | translate }}: {{ item.reservationDay }}
            </p>
            <p
              *ngIf="!checkIfAvailable(item.reservationDay)"
              class="status-settings"
              style="color: rgb(0, 255, 0)"
            >
              {{ "available" | translate }}
            </p>
            <p
              *ngIf="checkIfAvailable(item.reservationDay)"
              class="status-settings"
              style="color: rgb(0, 21, 255)"
            >
              {{ "notAv" | translate }}
            </p>
          </div>
        </div>
      </mat-card-title>

      <div fxShow="true" fxHide.lt-sm="true">
        <p class="price-settings">
          {{ item.price | currency }}
        </p>
      </div>
    </mat-card-title-group>
  </mat-card>
 
</div>
<app-footer></app-footer>
</div>
