<footer>
  
    <div class="copyright-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-2 order-md-1">
                    <p class="copyright-text">copyright by JadoreWebsite</p>
                </div>
                <div class="col-md-7 order-1 order-md-2">
                    <div class="social-links">
                        <a href="https://www.facebook.com/jadoreboutiquehotel"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/jadore.restaurant.hotel/"><i class="fab fa-instagram"></i></a>
                        <!-- <a href="https://www.booking.com/hotel/ro/j-39-adore-boutique.ro.html?group_children=0&checkout=2023-05-27&req_children=0&label=Share-iBN45V%401683568587&app_hotel_id=1985312&group_adults=2&from_sn=ios&req_adults=2&no_rooms=1&aid=898224&room1=A%2CA%2C&checkin=2023-05-26"><i><mat-icon>hotel_class</mat-icon></i></a> -->
                        <a href="https://www.youtube.com/watch?v=7NkI28lfq5o"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</footer>