.logo-container {
    width: 100%;
  }
  
  /* footer-logo{
    width: 30%;
    height: 5px;
  } */
  
  mat-toolbar {
    height: 100px;
    background-color: #fff !important;
  }
  
  .mat-icon-button {
    color: black;
  }
  
  .column{
    float: left;

  }

footer .copyright-area {
  background-color: #111;
  color: #fff;
}

footer .copyright-area .social-links {
  text-align: right;
}

@media (max-width: 767px) {
  footer .copyright-area .social-links {
    text-align: center;
    margin-bottom: 10px;
  }
}

footer .copyright-area .social-links a {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background-color: #212121;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .copyright-area .social-links a {
    margin-left: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  footer .copyright-area .social-links a {
    margin: 0 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 575px) {
  footer .copyright-area .social-links a {
    margin: 0 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
}

footer .copyright-area .social-links a:hover {
  background-color: #bead8e;
}

footer .copyright-area .copyright-text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  footer .copyright-area .copyright-text {
    letter-spacing: 0;
  }
}

footer .copyright-area .copyright-text a {
  color: #fff;
  text-decoration: underline;
}

footer .copyright-area .copyright-text.copyright-two {
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

@media (max-width: 767px) {
  footer .copyright-area .copyright-text {
    margin-top: 10px;
    text-align: center;
  }
}

footer .copyright-area .footer-menu ul li {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  margin-right: 15px;
}

@media (max-width: 399px) {
  footer .copyright-area .footer-menu ul li {
    padding-left: 0;
    margin-right: 0;
  }
}

footer .copyright-area .footer-menu ul li::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 12px;
  background-color: #fff;
  content: '';
}

@media (max-width: 399px) {
  footer .copyright-area .footer-menu ul li::before {
    display: none;
  }
}

footer .copyright-area .footer-menu ul li:first-child {
  padding-left: 0;
  margin-left: 0;
}

footer .copyright-area .footer-menu ul li:first-child::before {
  display: none;
}

footer .copyright-area .footer-menu ul li a {
  color: #fff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

footer .copyright-area .footer-menu ul li a:hover {
  color: #bead8e;
}

footer .copyright-area.light-theme {
  background-color: #f8f8f8;
}

footer .copyright-area.light-theme,
footer .copyright-area.light-theme a,
footer .copyright-area.light-theme .copyright-text,
footer .copyright-area.light-theme .footer-menu ul li a {
  color: #222;
}

footer .copyright-area.light-theme .footer-menu ul li::before {
  background-color: #737373;
}
  
