<mat-sidenav-container>

    <mat-sidenav #sidenav>
      <app-sidenav-admin (closeSideNav)="sidenav.close()"></app-sidenav-admin>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <app-header (SideNavigationToggle)="sidenav.toggle()"></app-header>
      <app-navtabs-admin></app-navtabs-admin>
  
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
<div class="container">
    <ul class="responsive-table">
    
  
  
      <br />
      <br />
  
      <li *ngFor="let item of items" class="table-row">
        <div class="col col-1" data-label="Id">{{ item.key }}</div>
        <div class="col col-2" data-label="Title">
          {{ item.title }}
        </div>
        <div class="col col-3" data-label="Price">
          {{ item.price | currency}}
        </div>
        <div class="col col-4 actions" data-label="Edit/Delete">
          <button
            mat-button
            matTooltip="Click to edit this item"
            color="primary"
            (click)="Edit(item)"
          >
            <mat-icon aria-label="Edit">draw</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="Click to delete this item"
            color="warn"
            (click)="Delete(item)"
          >
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>
      </li>

    </ul>
  
  </div>
  